/* shots css */
#shots {
    position: relative; /* important */
    overflow: hidden; /* important */
    width: 510px; /* important */
    height: 120px; /* important */
    /* margin: 0 85px; */
    margin-top: 20px;
    margin-bottom: -20px;
}

#shots_frame {position: relative}
#shots_previous {float: left;}
#shots_next {float: right;}
#shots_content {
    position: absolute;
    top: 0;
    margin-left: 20px;
}

#shots_content li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#shots_content {
    width: 5418px;
    height: 200px;
}
#shots ul li {
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid #666;
    background-color: #000;
}

#shots ul li img {
    display: block;
}