div.tabpanel {
    width: 100%;
    margin-bottom: 2em;
}

div.tabpanel div.tab {
    border-top: 1px solid #C9E0FC;
}

div.tabpanel div.tab {
    padding: 10px
}

div.tab h2 {
    width: 100%;
    margin: 0;
    padding: 0.3em 0;
    font-size: 150%;
    color: #F5F5F5
}

div.tab p {
    margin-top:0
}

/* start tab */
ul.tabnav{
    width: 100%;
    overflow:hidden;
    list-style: none;
    margin: 0;
    padding:0;
}

ul.tabnav li{
    float: left;
    margin: 0 0 0 0.5em;
    padding: 0
}

ul.tabnav a {
    float: left;
    padding: 0 0 0 0.8em;
    background: url(../images/tabber/tab.png) no-repeat top left;
    text-decoration: none;
    color: #EAEAEA;
}

ul.tabnav span {
    float: left;
    padding: 0.6em 0.8em 0.6em 0;
    background: url(../images/tabber/tab.png) no-repeat top right;
    cursor: pointer
}

ul.tabnav a.active,ul.tabnav a:hover {
    background: url(../images/tabber/tab2.png) no-repeat top left;
}

ul.tabnav a.active span,ul.tabnav a:hover span {
    background: url(../images/tabber/tab2.png) no-repeat top right;
    color: #E1E1E1
}
