## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">

<%include file="/head.html"/>
<%include file="/pastebin/pastebin_js.html"/>
<body>
    <%include file="/wrapper.html"/>
    <div id="body">
        <div id="pastebin-area">
            <%include file="/pastebin/top_banner.html"/>
            <div>
                <%include file="/pastebin/pastebin_latest_pasties.html"/>
                <div>
                    <%include file="/pastebin/pastebin_submit_form.html"/>
                </div>
            </div>
            <%include file="/pastebin/pastebin_disclaimer.html"/>
        </div>
    </div>
    <%include file="/footer.html"/>
</body>
</html>