<div style="float: left; width: 65%; clear: right; text-align: right" id="pastebin-content">
    <div style="text-align: right;">
        ${_("Document type")}:
        <select name="pastebin_doctypes_id" id="pastebin-submit-doctype" onchange="javascript:switch_document_type('pastebin-submit-doctype')">
            <% first = True %>
            % for doctype_id in sorted(c.pastebin_doctypes_desc.keys()):
                <option value="${doctype_id}"
                % if first:
                    selected
                % endif
                >${c.pastebin_doctypes_desc[doctype_id]}</option>
                <% first = False %>
            % endfor
        </select>
        <span id="pastebin-submit-syntaxtype">
            % if (c.default_pastebin_doctypes_id == c.pastebin_doctypes['text']) or not c.default_pastebin_doctypes_id:
                Syntax highlighting: 
                <select name="pastebin_syntax_id">
                    % for syntax_id in sorted(c.pastebin_syntaxes.keys()):
                        <option value="${syntax_id}"
                        % if c.pastebin_syntaxes[syntax_id] == "Plain text":
                            selected
                        % endif
                        >${c.pastebin_syntaxes[syntax_id]}</option>
                    % endfor
                </select>
            % endif
        </span>
    </div>
</div>