## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">

<%include file="/head.html"/>
<%include file="/pastebin/pastebin_js.html"/>
<body>
    <%include file="/wrapper.html"/>
    <div id="small_band">
        <%include file="/menu.html"/>
        <%include file="/small_band.html"/>
    </div>

    % if c.extra_css:
        <style type="text/css">
            ${c.extra_css}
        </style>
    % endif

    <div id="body">
        <div id="pastebin-area">
            <%include file="/pastebin/top_banner.html"/>
            <div>
                <%include file="/pastebin/pastebin_latest_pasties.html"/>
                <div style="clear: both"></div>
            </div>
            % if (not c.valid) and c.error_message:
                <%include file="/pastebin/show_pastie_submit_error.html"/>
            % elif not c.pastebin:
                <%include file="/pastebin/show_pastie_not_found_error.html"/>
            % else:
                <%include file="/pastebin/show_pastie_header.html"/>
                <div style="padding-top: 10px; padding-bottom: 10px; font-size: 0.9em">
                    % if c.pastebin['pastebin_doctypes_id'] == c.pastebin_doctypes['text']:
                        <%include file="/pastebin/show_pastie_text.html"/>
                    % elif c.pastebin['pastebin_doctypes_id'] == c.pastebin_doctypes['image']:
                        <%include file="/pastebin/show_pastie_image.html"/>
                    % elif c.pastebin['pastebin_doctypes_id'] == c.pastebin_doctypes['file']:
                        <%include file="/pastebin/show_pastie_file.html"/>
                    % endif
                    <div style="padding-top: 20px;">
                        <%include file="/pastebin/show_pastie_tools.html"/>
                    </div>
                </div>
                <div style="display: none; margin-top: 20px; padding-bottom: 40px" id="edit-pastie">
                    <%
                        c.default_pastebin_doctypes_id = c.pastebin['pastebin_doctypes_id']
                        c.pastebin_edit_content = c.pastebin['content']
                    %>
                    <%include file="/pastebin/pastebin_submit_form.html"/>
                </div>
            % endif
            <%include file="/pastebin/pastebin_disclaimer.html"/>
        </div>
    </div>
    <%include file="/footer.html"/>
</body>
</html>