## -*- coding: utf-8 -*-
<div class="col-left">

    <div class="news">

        <div align="center">
            <%include file="/adsense/468x60.html"/>
        </div>

        %if c.portal_news:
            <h3 style="margin-bottom: 10px">${_("Distribution news")}</h3>
                %for item in c.portal_news:

                    <%
                        news_pages_id = item['pages_id']
                        news_title = item['title']
                        news_intro = item['intro']
                        news_date = item['date']
                        news_text = item['text']
                        news_username = item['username']
                        if not news_intro:
                            news_intro = news_text[:160].strip()+"..."
                    %>
                        <div>
                            <div>
                                <a href="/pages/show/id/${news_pages_id}">${news_title}</a> <span style="font-size: 0.8em">[${news_date}]</span>
                            </div>
                            <hr  style="border-bottom: 1px dotted #666666; height: 1px"/>
                            <div style="margin-bottom: 15px; font-size: 0.8em; color: #3796C8">
                                <div>
                                    ${news_intro}
                                </div>
                                <a href="/pages/show/id/${news_pages_id}">[more]</a>
                            </div>
                        </div>

                %endfor
            <div class="spacer"></div>
        %endif

        %if c.forum_posts:
            <h3 style="margin-bottom: 10px">${_("Forum activity")}</h3>
                %for item in c.forum_posts:

                    <%
                        try:
                            title = item['topic_title'].decode('utf-8')
                        except (UnicodeDecodeError,UnicodeEncodeError,):
                            continue
                        if len(title) > 60: title = title[:60].strip()+"..."
                        topic_id = c.forum_topic_uri+str(item['topic_id'])
                        user_clean = item['username']
                        try:
                            topic_text = item.get('post_text', '').decode('utf-8')
                        except (UnicodeDecodeError,UnicodeEncodeError,):
                            continue
                        if not topic_text: topic_text = ''
                        topic_text = topic_text[:160].strip()+"..."
                    %>

                        <div>
                            <div>
                                <a href="${topic_id}">${title}</a> <span style="font-size: 0.8em">[${user_clean}]</span>
                            </div>
                            <hr  style="border-bottom: 1px dotted #666666; height: 1px"/>
                            <div style="margin-bottom: 15px; font-size: 0.8em; color: #C085CD">
                                <div>
                                    ${topic_text}
                                </div>
                                <a href="${topic_id}" target="_blank">[more]</a>
                            </div>
                        </div>

                %endfor
            <div class="spacer"></div>
        %endif

        %if c.feeds:

            %if c.feeds.has_key('planet'):
                <h3 style="margin-bottom: 10px">${_("Planet activity")}</h3>
                %for myid in sorted(c.feeds['planet']):
                    <%
                        link = c.feeds['planet'][myid].get('link')
                        title = c.feeds['planet'][myid].get('title')
                        desc = c.feeds['planet'][myid].get('description')
                        if not title: title = ''
                        if not desc: desc = ''
                        if len(title) > 60:
                            title = title[:60].strip()+"..."
                        else:
                            title = title.strip()
                        if len(desc) > 200:
                            desc = desc[:200].strip()+"..."
                        else:
                            desc = desc.strip()
                        creator = c.feeds['planet'][myid].get('dc:creator')
                    %>
                    <div>
                        <div>
                            <a href="${link}" target="_blank">${title}</a> <span style="font-size: 0.8em">[${creator}]</span>
                        </div>
                        <hr  style="border-bottom: 1px dotted #666666; height: 1px"/>
                        <div style="margin-bottom: 15px; font-size: 0.8em; color: #93CD74">
                            <div>
                                ${desc}
                            </div>
                            <a href="${link}" target="_blank">[more]</a>
                        </div>
                    </div>
                %endfor
                <div class="spacer"></div>
            %endif

            %if c.feeds.has_key('projects'):
                <h3 style="margin-bottom: 10px">${_("Code activity")}</h3>
                <ul class="frontfancylist">
                %for myid in c.feeds['projects']:
                    <%
                        link = c.feeds['projects'][myid].get('link')
                        title = c.feeds['projects'][myid].get('title')
                        if not title: title = ''
                        if len(title) > 60:
                            title = title[:60].strip()+"..."
                        else:
                            title = title.strip()
                    %>
                    <li><a href="${link}" target="_blank">${title}</a></li>
                %endfor
                </ul>
                <div class="spacer"></div>
            %endif

            %if c.feeds.has_key('overlay'):
                <h3 style="margin-bottom: 10px">${_("Overlay activity")}</h3>
                <ul class="frontfancylist">
                %for myid in c.feeds['overlay']:
                    <%
                        link = c.feeds['overlay'][myid].get('link')
                        title = c.feeds['overlay'][myid].get('title')
                        if not title: title = ''
                        if len(title) > 60:
                            title = title[:60].strip()+"..."
                        else:
                            title = title.strip()
                    %>
                    <li><a href="${link}" target="_blank">${title}</a></li>
                %endfor
                </ul>
                <div class="spacer"></div>
            %endif

        %endif
    </div>

</div>
