<div class="external-services-report">

    <a href="http://digg.com/submit?phase=2&url=${c.this_uri_full_quoted}" title="${_("Digg this post on digg.com")}" target="_blank">
        <img src="/images/bm/digg.png" border="0" alt="${_("Digg this post on digg.com")}"/>
    </a>

    <a href="http://del.icio.us/post?url=${c.this_uri_full_quoted}" title="${_("Bookmark this post on del.icio.us")}." target="_blank">
        <img src="/images/bm/delicious.png" border="0" alt="${_("Bookmark this post on del.icio.us")}"/>
    </a>

    <a href="http://www.stumbleupon.com/submit?url=${c.this_uri_full_quoted}" title="${_("Push this to Stumbleupon!")}" target="_blank">
        <img src="/images/bm/stumbleupon.png" border="0" alt="${_("Push this to Stumbleupon!")}"/>
    </a>

    <a href="http://technorati.com/faves/?add=${c.this_uri_full_quoted}" title="${_("Post this on Technorati!")}" target="_blank">
        <img src="/images/bm/technorati.png" border="0" alt="${_("Post this on Technorati!")}"/>
    </a>

    <a href="http://reddit.com/submit?url=${c.this_uri_full_quoted}" title="${_("Post this on Reddit!")}" target="_blank">
        <img src="/images/bm/reddit.png" border="0" alt="${_("Post this on Reddit!")}"/>
    </a>

    <a href="http://ma.gnolia.com/bookmarklet/add?url=${c.this_uri_full_quoted}" title="${_("Post this on Magnolia!")}" target="_blank">
        <img src="/images/bm/magnolia.png" border="0" alt="${_("Post this on Magnolia!")}"/>
    </a>

    <a href="http://www.blinklist.com/index.php?Action=Blink/addblink.php&amp;Description=&amp;Url=${c.this_uri_full_quoted}" title="${_("Bookmark this on Blinklist!")}" target="_blank">
        <img src="/images/bm/blinklist.png" border="0" alt="${_("Bookmark this on Blinklist!")}"/>
    </a>

    <a href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=${c.this_uri_full_quoted}" title="${_("Bookmark this on Google!")}" target="_blank">
        <img src="/images/bm/google.png" border="0" alt="${_("Bookmark this on Google!")}"/>
    </a>

    <a href="http://www.furl.net/storeIt.jsp?u=${c.this_uri_full_quoted}" title="${_("Add this to Furl!")}" target="_blank">
        <img src="/images/bm/furl.png" border="0" alt="${_("Add this to Furl!")}"/>
    </a>

    <a href="http://slashdot.org/bookmark.pl?url=${c.this_uri_full}">
        <img src="http://images.slashdot.org/favicon.gif" border="0" alt="Slashdot" border="0">
    </a>

</div>