## -*- coding: utf-8 -*-

<div id="footer_wrapper">
    % if c.www_current_url.find("pastebit.com") == -1:
    <div id="footer_inner" class="inside">
        <%
            path = '/home/sabayonlinux/public_html/include/footer_menu.html.inc'
            with open(path + c.sourcefile, 'r') as f:
                footer_data = f.read()
        %>
        ${footer_data}
    </div>
    % else:
        <div id="pastebit-footer"></div>
    % endif
</div>
<script type='text/javascript'>
var dc_AdLinkColor = 'CA9CFF' ;
var dc_PublisherID = 14525 ;
</script>
<script type='text/javascript' src='https://kona.kontera.com/javascript/lib/KonaLibInline.js'>
</script>
<!-- Kontera ContentLink(TM) -->

