## -*- coding: utf-8 -*-
<div style="clear: both; width: 100%; margin-left: auto; margin-right: auto; padding-top: 5px">
    <center><%include file="/adsense/728x90.html"/></center>
</div>
<div id="footer">
    <span>
        &copy; 2004-2010 F. Erculiani, Sabayon Promotion (CF: 93018620224) | ${_("Trademarks are property of their respective owners.")}
    </span>
</div>
<script type='text/javascript'>
var dc_AdLinkColor = 'CA9CFF' ;
var dc_PublisherID = 14525 ;
</script>
<script type='text/javascript' src='http://kona.kontera.com/javascript/lib/KonaLibInline.js'>
</script>
<!-- Kontera ContentLink(TM) -->

