## -*- coding: utf-8 -*-
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    %if c.html_title:
        <title>${c.html_title}</title>
    %else:
        <title>Pastebit, beep beep beep</title>
    %endif

    <meta name="keywords" content="sabayon, linux, operating systems, operating system, usb, liveusb, linux web, kernel, linux live, pastebin"/>
    <meta name="description" content="Sabayon Linux Pastebin"/>
    <link rel="stylesheet" href="https://static.sabayon.org/site/css/reset-min.css" type="text/css" />
    <link rel="stylesheet" href="https://static.sabayon.org/site/css/global.css" type="text/css" />
    <link rel="stylesheet" href="https://static.sabayon.org/site/css/global_menu.css" type="text/css" />
    <link rel="stylesheet" href="https://static.sabayon.org/site/css/global_styles.css" type="text/css" />
    <link rel="stylesheet" href="https://static.sabayon.org/site/css/style.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/pastebin.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/sexyalertbox.css"/>

    <script type="text/javascript" src="/js/aim.js"></script>
    <script type="text/javascript" src="/js/mootools-b62.js"></script>
    <script type="text/javascript" src="/js/mootools-more-b62.js"></script>
    <script type="text/javascript" src="/js/ahah.js"></script>
    <script type="text/javascript" src="/js/sexyalertbox.v1.1-b62.js"></script>
    <script type="text/javascript"><%include file="/../public/js/sabayon.js"/></script>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- analytics -->
    <script src="https://www.google-analytics.com/urchin.js" mce_src="https://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-258726-1";
    urchinTracker();
    </script>

</head>
