<div id="mid_wrapper">
    <div id="pastebin-area">
        <%include file="/pastebin/top_banner.html"/>
        <div>
            <div id="pastebin-browse" class="konafilter">
                <div class="fblike">
                    <%include file="/pastebin/fblike.html"/>
                </div>
                <div id="pastebin-list">
                    <%include file="/pastebin/pastebin_latest_pasties.html"/>
                </div>
            </div>
            <div id="pastebin-body">
                <%include file="/adsense/728x90.html"/>
                % if c.latest_pasties_extended:
                    <%include file="/pastebin/latest.html"/>
                % elif c.show_doc_page:
                    <%include file="/pastebin/doc.html"/>
                % else:
                    <%include file="/pastebin/interface.html"/>
                % endif
            </div>
            <div id="pastebin-bottom-spacer">
            </div>
        </div>
    </div>
</div>