## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<%include file="head.html"/>
<body>
    <%include file="wrapper.html"/>
    <div id="small_band">
        <%include file="menu.html"/>
        <%include file="small_band.html"/>
    </div>

    <div id="body">
        <div class="col-left">

            <div style="margin-bottom: 20px;">
                %if c.activation_successful:
                    <strong>${_("Activation successful")}</strong>. ${_("Your Password is now updated")}.
                %else:
                    <strong>${_("Sorry")}</strong>. ${_("There is no activation information available")}.
                    <br/>
                    ${_("confirmation code")}: ${c.confirmation_code}<br/>
                    ${_("validation id")}: ${c.password_update_validation_id}<br/>
                    ${_("user id")}: ${c.user_id}
                %endif
            </div>

        </div>
        <%include file="body_right.html"/>
    </div>
    <%include file="footer.html"/>
</body>
</html>