<div class="registration-successful">
    <strong>${_("Registration successful")}</strong>. ${_("Wow, thanks a lot!")}
    %if c.mail_send_error:
         ${_("You should have waited the activation e-mail but the one you provided has not been accepted for delivery")}.
         ${_("Please contact <a href=\"mailto:mail.issues@sabayon.org\">our service</a> and ask for help")}.
    %else:
        ${_("Now you need to wait and read the activation e-mail before being able to login")}.
    %endif
    %if c.login_redirect:
        <br/>${_("<a href='%s'>Click here</a> to come back to the source page") % (c.login_redirect,)}.
    %endif
</div>
