<div id="registration-error-box"></div>

<form method="POST" action="javascript:register_user('portal-registration','portal-registration','registration-error-box','registration-submit')" id="portal-registration" name="portal-registration">
    <input type="hidden" name="redirect" value="${c.login_redirect}"/>
    <dl class="form-line">
        <dt class="form-left">
            <label for="username">${_("Username")}:</label>
            <br />
            <span style="font-size: 0.8em">${_("Length must be between 3 and 20 characters")}.</span>
        </dt>
        <dd>
            <input type="text" tabindex="1" name="username" id="username" class="search" size="25" value="${c.username}" title="${_("Username")}" />
        </dd>
    </dl>
    <dl class="form-line">
        <dt class="form-left">
            <label for="email">${_("E-mail address")}:</label>
        </dt>
        <dd>
            <input type="text" tabindex="2" name="email" id="email" size="25" class="search" maxlength="100" value="${c.email}" title="${_("E-mail address")}" />
        </dd>
    </dl>
    <dl class="form-line">
        <dt class="form-left">
            <label for="email_confirm">${_("Confirm e-mail address")}:</label>
        </dt>
        <dd>
            <input type="text" tabindex="3" name="email_confirm" id="email_confirm" class="search" size="25" maxlength="100" value="${c.email_confirm}" title="${_("Confirm e-mail address")}" />
        </dd>
    </dl>
    <dl class="form-line">
        <dt class="form-left">
            <label for="new_password">${_("Password")}:</label><br />
            <span style="font-size: 0.8em">${_("Must be between 6 and 30 characters")}.</span>
        </dt>
        <dd>
            <input type="password" tabindex="4" name="new_password" id="new_password" class="search" size="25" value="${c.password}" title="${_("New password")}" />
        </dd>
    </dl>
    <dl class="form-line">
        <dt class="form-left">
            <label for="password_confirm">${_("Confirm password")}:</label>
        </dt>
        <dd>
            <input type="password" tabindex="5" name="password_confirm" id="password_confirm" class="search" size="25" value="${c.password_confirm}" title="${_("Confirm password")}" />
        </dd>
    </dl>

    <dl class="form-line">
        <div>
            <style type="text/css">
                #recaptcha_widget_div {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 320px;
                    position: relative;
                    left: 100px;
                }
            </style>
            ${c.recaptcha_html | n}
        </div>
    </dl>

    <dl class="form-line">
        <dt class="form-left">
            <label for="password_confirm">${_("Registration Agreement")}</label>
        </dt>
        <dd>
            <textarea name="registration_agreement" id="registration_agreement" rows="15" cols="35" readonly="readonly" style="font-size: 0.95em"/>${c.registration_agreement_text}</textarea>
            <div>
                <input type="checkbox" tabindex="7" name="registration_agreement_check" id="registration_agreement_check" value="1"/> ${_("I agree with the terms above")}
            </div>
        </dd>
    </dl>


<input type="submit" value="${_("Register and cross fingers")}" id="registration-submit" onload="this.disabled = false"/>
</form>