## -*- coding: utf-8 -*-
% if c.www_current_url.find("pastebit.com") == -1:
    <div id="sab_global_menu">
        <div id="sab_global_menu_inner">
            <ul>
                <li><a accesskey="h" href="http://sabayon.org">Home</a></li>
                <li><a accesskey="f" href="http://forum.sabayon.org">Forums</a></li>
                <li><a accesskey="w" href="http://wiki.sabayon.org">Wiki</a></li>
                <li><a accesskey="b" href="http://bugs.sabayon.org">Bugs</a></li>
                <li><a accesskey="p" href="http://planet.sabayon.org">Blog</a></li>

                <li><a accesskey="a" href="http://packages.sabayon.org">Packages</a></li>
                <li><a accesskey="g" href="http://gitweb.sabayon.org">Git</a></li>
                <li><a accesskey="d" href="http://sabayon.org/mirrors">Download</a></li>
            </ul>
        </div>
    </div>
% endif
<div id="pastebin-sub-menu">
    <div style="float: left;">
        <span class="pastebin-sub-menu-item"><a href="/">${_("new")}</a></span>
        <span class="pastebin-sub-menu-item"><a href="/latest">${_("latest")}</a></span>
        <span class="pastebin-sub-menu-item"><a href="/doc">${_("api")}</a></span>
        % if c.www_current_url.find("pastebit.com") != -1:
        <span class="pastebin-sub-menu-item"><a href="http://10minutefile.com">10minutefile</a></span>
        % endif
    </div>
    <div style="float: left; margin-left: 20px" class="konafilter">
        ${_("<b>Your distro's Pastebin</b>, <i>paste whatever you want</i>. We do support <b>text</b>, <b>images</b>, <b>files</b> and won't bug you with <b>registration</b>.")}
    </div>
</div>

