## -*- coding: utf-8 -*-
<div id="wrapper">
    <!-- menu -->
    <div id="header_logo" onclick="location.href='http://www.sabayon.org"></div>
    <div id="header_frame">
        <div id="hf1"><a href="/">pastebin.com</a></div>
        <div id="hf2">#1 paste tool since 2002</div>
    </div>
    <div id="header_menu">
        <ul id="nav">
            <li class="active"><a href="/">new</a></li>
            <li><a href="/archive">archive</a></li>
        </ul>
    </div>
    <div id="header_search">
        <form class="search_form" name="search_form" method="get" action="/search" id="cse-search-box">
            <input class="search_input" name="q" size="5" value="search..." onfocus="this.value=''" type="text">
            <input class="search_button" src="/images/dot.gif" alt="Search" value="Search" name="sa" type="image">
        </form>
    </div>
</div>
